{% extends "base.html" %}
{% block content %}
    <h1>Title:{{ book.title }}
        <a class="btn btn-primary" href="{% url 'catalog:book-update' pk=book.id %}">Edit</a>
    </h1>
    <p><strong>Price: {{ book.price }}</strong></p>
    <p><strong>Format: {{ book.format.name }}</strong></p>

    <div class="ml-3">
        <h1>Authors</h1>
        {% for author in book.authors.all %}
            <hr>
            <p class="text-muted"><strong>ID:</strong>{{ author.id }}</p>
            <p><strong>Full name:</strong>
                {{ author.first_name }} {{ author.last_name }}
                {% if author.pseudonym %}({{ author.pseudonym }}){% endif %}
            </p>
        {% empty %}
            <p>No Authors!</p>
        {% endfor %}
    </div>

{% endblock %}